body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s ease;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

form {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    width: 65%;
}

button {
    padding: 8px 12px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.weather_card {
    margin-top: 20px;
}

.temp {
    font-size: 42px;
}

.icon {
    width: 80px;
}

.extra_details {
    margin-top: 15px;
    text-align: left;
}